
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Readex Pro';
    font-size: 20px;
} 

p {
    font-size: 20px;
}

.downloadButton {
  background-color: #07c;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.downloadButton:hover,
.downloadButton:focus {
  background-color: #42f5e0;
}

.downloadButton:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}


.listBig {
    font-size: 22px !important;
    font-family: 'Readex Pro';
    line-height: 40px;
}

div.css-1fv8s86.e16nr0p34 {font-family: "Readex Pro"; font-size: 60px !important;}

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {
    list-style-type: disc;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}